<app-message-box ></app-message-box>

<div class="card mt-2 shadow-sm">
    <div class="card-header">
        <div class="row">
            <div class="col d-flex align-items-center justify-content-start gap-2">
                <h5>Fahrgemeinschaft</h5>
            </div>
            <div class="col d-flex align-items-center justify-content-end gap-2">
                <div class="input-group" style="min-width: 250px; max-width: 50%;">
                    <input type="number" [readOnly]="true" class="form-control form-control-sm" id="exampleFormControlInput1" [(ngModel)]="carCount">
                    <button class="btn btn-outline-secondary btn-sm align-items-center" type="button" (click)="setCarCount('increment')"><i class="ph ph-plus"></i></button>
                    <button class="btn btn-outline-secondary btn-sm align-items-center" type="button" (click)="setCarCount('decrement')"><i class="ph ph-minus"></i></button>
                </div>
                <div class="vr"></div>
                <i class="ph ph-x" style="cursor: pointer;" (click)="showElementChange.emit(false)"></i>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-8">
            </div>
            <div class="col-4">
                <div class="row d-flex align-items-center justify-content-end me-2">
                    <!-- <label for="exampleFormControlInput1" class="form-label">Anzahl</label> -->
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="p-2 border-1 surface-border border-round w-15rem">
            @for (participant of tourParticipants; track participant; let  i = $index) {
                <span class="badge text-bg-primary me-1 py-1" style="cursor: pointer;" pDraggable (onDragStart)="dragStart(participant.id)" (onDragEnd)="dragEnd()">
                    <img class="rounded me-2" style="height: 20px; width: auto;" src="assets\images\avatars\{{participantsMap[participant.id].avatar}}thumbnail.jpg">
                    {{participantsMap[participant.id].name}}
                </span>
            }
        </div>
        @for (car of tourCars; track car; let i = $index){
            <div class="p-2 border-1 surface-border border-round w-15rem" pDroppable (onDrop)="drop(i)">
                <p class="text-center surface-border border-bottom-1">Auto {{i + 1}}</p>
                @if (tourCars) {
                    <div class="card">
                        <div>
                            @if (tourCars[i].passengers.length > 0) {
                                <ul class="list-group">
                                    @for (passenger of tourCars[i].passengers; track passenger; let i = $index) {
                                        <li class="list-group-item d-flex align-items-center">
                                            <img 
                                                class="rounded rounded-pill m-2" 
                                                style="height: 20px; width: auto;" 
                                                src="assets\images\avatars\{{participantsMap[passenger.valueOf()].avatar}}thumbnail.jpg" 
                                                ngbTooltip="{{participantsMap[passenger.valueOf()].name}}"
                                            >
                                            <span>{{participantsMap[passenger.valueOf()].name}}</span>
                                        </li>
                                    }
                                </ul>
                            }
                            @else {
                                <div class="border-1 m-4 rounded d-flex align-items-center justify-content-center" style="border: dashed; height: 50px;">
                                    <i class="ph ph-plus fs-5"></i>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        
    </div>
    
</div>