<app-message-box ></app-message-box>

@if (!loading) {

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb m-3">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{tourData.name}}</li>
        </ol>
    </nav>
    <ng-container>
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-end gap-2" style="height: 40px;">

                <i class="bi bi-cup-hot" style="cursor: pointer;" (click)="openModal(content)"></i>
                <i *ngIf="!tableView" class="ph ph-rows fs-5" style="cursor: pointer;" (click)="tableView ? tableView = false : tableView = true"></i>
                <i *ngIf="tableView" class="ph ph-columns fs-5" style="cursor: pointer;" (click)="tableView ? tableView = false : tableView = true"></i>
                <i class="bi bi-gear" style="cursor: pointer;" (click)="isCollapsed = !isCollapsed"></i>
                <div class="vr"></div>

                <i 
                    class="ph ph-users-three fs-5"
                    style="cursor: pointer;" 
                    (click)="showParticipantsBool = !showParticipantsBool"
                    [ngClass]="showParticipantsBool ? '' : ''">
                </i>
                <i 
                    class="ph ph-backpack fs-5"
                    style="cursor: pointer;" 
                    (click)="showThingsBool = !showThingsBool"
                    [ngClass]="showThingsBool ? '' : ''">
                </i>
                <i 
                    class="ph ph-car fs-5" 
                    style="cursor: pointer;" 
                    (click)="showCarSharingBool = !showCarSharingBool"
                    [ngClass]="showCarSharingBool ? '' : ''">
                </i>
            </div>
            <div class="card-body p-3" style="height: 100px;">
                <h2 style="cursor: pointer;">{{tourData.name}} </h2> 
                <h5>{{tourData.start }} bis {{tourData.end }}</h5>
            </div>
        </div>
        
        <!-- TOUR DETAILS -->
        <div class="row">
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <div class="card mt-2">
                    <div class="card-body">
                        <h4>Tour Details</h4>
                        <form [formGroup]="tourForm">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table">
                                        <tbody>
                                            <!-- START -->
                                            <tr>
                                                <th scope="row">Anreise:</th>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{tourData.start}}
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-check">
                                                                <input formControlName="arrivalChecked" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="changeTourData()">
                                                                <label class="form-check-label" for="flexCheckChecked">
                                                                    Anreise morgends
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- END -->
                                            <tr>
                                                <th scope="row">Abreise:</th>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{tourData.end}}
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-check">
                                                                <input formControlName="departureChecked" class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="changeTourData()">
                                                                <label class="form-check-label" for="flexCheckChecked">
                                                                    Abreise morgends
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- PARTICIPANTS -->
                                            <tr>
                                                <th scope="row">Teilnehmer:</th>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{tourParticipants.length}}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- THINGS -->
                                            <tr>
                                                <th scope="row">Mitbringsel:</th>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3">
                                                            {{tourThings.length}}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <!-- PARTICIPANTS -->
            @if (showParticipantsBool) {
                <div [ngClass]="tableView ? 'col' : ''">
                    <app-planner-participants
                        (reloadData)="getTourData(tourID)"
                        [participants] = "participants"
                        [participantsMap] ="participantsMap"
                        [thingsMap] = "thingsMap"
                        [tourData] ="tourData"
                        [tourID] = "tourID"
                        [tourParticipants] = "tourParticipants"
                        [tourThings] ="tourThings"
                        [(showElement)] = "showParticipantsBool"
                        >
                    </app-planner-participants>
                
                </div>
            }
            <!-- THINGS -->
            @if (showThingsBool) {
                <div [ngClass]="tableView ? 'col' : ''">
                    <app-planner-things
                        (loadData)="getTourData(tourID)"
                        [participants]="participants"
                        [things]="things"
                        [tourData]="tourData"
                        [tourID] = "tourID"
                        [thingsMap]="thingsMap"
                        [tourThings]="tourThings"
                        [(showElement)] = "showThingsBool"
                        >
                    </app-planner-things>
                </div>
            }
            <!-- CARSHARING -->
            @if (showCarSharingBool) {
                <div [ngClass]="tableView ? 'col' : ''">
                    <app-carsharing
                        (showMessageBox) = "openMessageBox($event)"
                        [tourCars] = "tourCars"
                        [tourID] = "tourID"
                        [tourParticipants]= "tourParticipants"
                        [participantsMap]="participantsMap"
                        [(showElement)] = "showCarSharingBool"
                        >
                    </app-carsharing>
                </div>
            }
        </div>
    </ng-container>
}

<!-- OFFCANVAS MEALS -->
<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">Mahzeilten Übersicht</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
    @for (meal of meals; track meal; let i = $index;) {
        <!-- <div class="offcanvas-body">
            
                
            
            
            <div class="text-end">
                <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
            </div>
        </div> -->
        <div class="m-2">
            <div 
            class="card" 
            style="height: 35px;"
            >
            <div>
                <span style="cursor: pointer;" (click)="isCollapsed = !isCollapsed">{{meal.type}}</span>
            </div>
        </div>
        <div>
            <select class="form-select" aria-label="Default select example">
                <option>Nicht zugewiesen</option>
                @for (participant of participants; track participant){
                    <option>{{participant}}</option>
                }
            </select>
        </div>
        </div>
        
    }

	
</ng-template>








