<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Planung</li>
    </ol>
</nav>

<div 
    class="card shadow-sm" 
    style="height: 100px;">
    <div class="p-3">
        <h2 style="cursor: pointer;" (click)="isCollapsed = !isCollapsed">{{tourData.name}} <i class="bi bi-house"></i></h2> 
        <h5 (click)="tableView ? tableView = false : tableView = true">{{tourData.from}} bis {{tourData.to}}</h5>
    </div>
</div>

<!-- TOUR DETAILS -->
<div class="row">
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card mt-2">
            <div class="card-body">
                <h4>Tour Details <span (click)="open(content)">(Zeige Fressie Timeline)</span></h4>
                <form [formGroup]="tourForm">
                    <div class="row">
                        <div class="col-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Anreise:</th>
                                        <td>
                                            <div class="row">
                                                <div class="col-3">
                                                    {{tourData.from}}
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input formControlName="arrivalChecked" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            Anreise morgends
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Abreise:</th>
                                        <td>
                                            <div class="row">
                                                <div class="col-3">
                                                    {{tourData.from}}
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input formControlName="departureChecked" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            Abreise morgends
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Anzahl Frühstück:</th>
                                        <td>{{tourData.breakfastCount}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Anzahl Abendessen:</th>
                                        <td>{{tourData.dinnerCount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- PARTICIPANTS -->
    <div [ngClass]="tableView ? 'col-6' : ''">
        <div class="card mt-2 shadow-sm">
            <div class="card-header d-flex justify-content-between">
                <h4 class="p-3">Teilnehmer</h4> 
                <input class="h-50 btn btn-primary mt-3 me-2" type="button" value="Hinzufügen">
            </div>
            
            <div class="card-body mx-2 mb-2">
                @for (participant of participants; track participant) {
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="true">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>{{participant.name}}
                                    <!-- SHOW BURDEN COUNT -->
                                </button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        Anreise: {{tourData.from}} 
                                        Abreise: {{tourData.to}}
                                        <ol class="list-group list-group-numbered">
                                            @for (burden of thingsMap | keyvalue; track burden;) {
                                                @if(burden.value.carrier == participant.name){
                                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">{{burden.value.name}}</div>
                                                        </div>
                                                        <!-- <span class="badge text-bg-primary rounded-pill">14</span> -->
                                                    </li>
                                                }
                                            } @empty {
                                                Bisher nichts zugeordnet
                                            }
                                        </ol>
                                    </ng-template>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                } @empty {
                    <button type="button" class="list-group-item list-group-item-action"> Bisher keine Teilnehmer </button>
                }
            </div>
        </div>
        
    </div>
    <!-- THINGS -->
    <div [ngClass]="tableView ? 'col-6' : ''">
        <div class="card mt-2 shadow-sm">
            <div class="card-header d-flex justify-content-between">
                <h4 class="p-3">Mitbringsel</h4>
                <input class="h-50 btn btn-primary mt-3 me-2" type="button" value="Hinzufügen">
            </div>
            <div class="card-body mx-2">
                <table class="table">
                    <tbody class="border">
                        @for (thing of things; track thing; let i = $index;) {
                        <tr>
                            <td class="align-middle" style="height: 54px">
                                <div class="row">
                                    <div class="col-6 ">
                                        {{thing.name}}
                                    </div>
                                    <div class="col-6">
                                        <select class="form-select form-select-sm" aria-label="Default select example" (change)="assignThingTo(thing.id, $event)">
                                            <option [value]="''">Nicht zugewiesen</option>
                                            @for (participant of participants; track participant){
                                                <option [value]="participant.id">{{participant.name}}</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- OFFCANVAS MEALS -->
<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">Mahzeilten Übersicht</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
    @for (meal of meals; track meal; let i = $index;) {
        <!-- <div class="offcanvas-body">
            
                
            
            
            <div class="text-end">
                <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
            </div>
        </div> -->
        <div class="m-2">
            <div 
            class="card" 
            style="height: 35px;"
            >
            <div>
                <span style="cursor: pointer;" (click)="isCollapsed = !isCollapsed">{{meal.type}}</span>
            </div>
        </div>
        <div>
            <select class="form-select" aria-label="Default select example">
                <option>Nicht zugewiesen</option>
                @for (participant of participants; track participant){
                    <option>{{participant}}</option>
                }
            </select>
        </div>
        </div>
        
    }

	
</ng-template>








