<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mitbringsel</li>
    </ol>
</nav>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs mt-2">
    <li [ngbNavItem]="0">
        <button ngbNavLink>Gerichte</button>
        <ng-template ngbNavContent>
            <app-meal></app-meal>
        </ng-template>
    </li>
    <li [ngbNavItem]="1">
        <button ngbNavLink>Nahrungsmittel</button>
        <ng-template ngbNavContent>
            <app-thing 
                [category]="'food'"
                [things]="things"
                [title]="'Nahrungsmittel'"
                >
            </app-thing>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <button ngbNavLink>Verbrauchsmaterial</button>
        <ng-template ngbNavContent>
            <app-thing 
                [category]="'consumables'"
                [things]="things"
                [title]="'Verbrauchsmaterial'"
                >
            </app-thing>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <button ngbNavLink>Gegenstände</button>
        <ng-template ngbNavContent>
            <app-thing 
                [category]="'non-consumables'"
                [things]="things"
                [title]="'Gegenstände'"
                >
            </app-thing>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>