<!-- <input
    class="form-control"
    id="typeahead-prevent-manual-entry"
    type="text"
    (change)="setUnit()"
    [editable]="false"
    [inputFormatter]="formatter"
    [ngbTypeahead]="search"
    [ngModelOptions]="{standalone: true}"
    [placeholder]="unitInput"
    [resultFormatter]="formatter"
    [(ngModel)]="selectedUnit"
/> -->

<div class="form-floating">
    <input
    class="form-control"
    id="typeahead-prevent-manual-entry"
    type="text"
    (change)="setUnit()"
    [editable]="false"
    [inputFormatter]="formatter"
    [ngbTypeahead]="search"
    [ngModelOptions]="{standalone: true}"
    [placeholder]="unitInput"
    [resultFormatter]="formatter"
    [(ngModel)]="selectedUnit"
    />
    <label for="floatingInput">Einheit</label>
  </div>