<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</nav>  


@for (tour of tours; track $index) {

    <div class="card text-start mt-4" >
        <div class="card-header">
            {{tour.tourData.name}}
        </div>
        <div class="card-body">
            <h5 class="card-title" style="cursor: pointer;" routerLink="/planner/{{tour.id}}" routerLinkActive="active">{{tour.tourData.name}}</h5>
            <p class="card-text">{{tour.tourData.start}} bis {{tour.tourData.end}} </p>
            <p class="card-text">{{tour.participants.length}} Teilnehmer </p>
            <button (click)="deleteTour(tour.id)">Löschen</button>
        </div>
    </div>
}

<button type="button" class="btn btn-primary" (click)="open(tourModal)">Neue Tour</button>


<ng-template #tourModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Neue Tour</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <form [formGroup]="tourForm">
			<div class="mb-3">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Name" formControlName="name">
                    <label for="floatingInput">Name</label>
                </div>
                <app-date-picker
                    (startDatePicked)="this.tourForm.get('start')!.setValue($event.toLocaleDateString())"
                    (endDatePicked)="this.tourForm.get('end')!.setValue($event.toLocaleDateString())"
                ></app-date-picker>
                <!-- PARTICIPANTS -->
                <div class="form-floating mb-3">
                    <input
                    #input
                    id="typeahead-prevent-manual-entry"
                    type="text"
                    placeholder="Teilnehmer wählen.."
                    class="form-control"
                    [ngbTypeahead]="searchParticipants"
                    [inputFormatter]="getParticipantName"
                    [resultFormatter]="getParticipantID"
                    [editable]="false"
                    (selectItem)="addParticipant($event)"
                    />
                    <label for="floatingInput">Teilnehmer hinzufügen</label>
                </div>
			</div>
            @for (participant of newParticipants; track $index) {
                <span class="badge text-bg-primary me-1 py-1">
                    {{participantsMap[participant.id].name}}
                    <!-- {{participantsMap[participant].name}} -->
                    <i class="bi bi-x-circle" style="cursor: pointer;" (click)="removeParticipant(participant)"></i>
                </span>
            }
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="newTour(); modal.close('Save click')">Speichern</button>
	</div>

    

</ng-template>