<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Teilnehmer</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h2>Teilnehmer</h2>
        <app-add-participant
            (reloadData)="getParticipants()"
            [editParticipantInput]="editParticipant">
        </app-add-participant>
    </div>

    @if(!loadingData) {
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th class="col-md-4">Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (participant of participants; track participant) {
                        <tr>
                            <!-- <th scope="row">1</th> -->
                            <td style="height: 50px;">
                                <img class="rounded" style="height: 30px; width: 30px;" src="assets\images\avatars\{{participant.avatar}}.jpg"> {{participant.name}}
                            </td>
                            <td style="height: 50px;" class="d-flex justify-content-end">
                                <i class="bi bi-pencil text-warning me-2" style="cursor: pointer;" (click)="editParticipant = participant"></i>
                                <i class="bi bi-trash text-danger me-2" style="cursor: pointer;" (click)="deleteParticipant(participant.id)"></i>
                            </td>
                        </tr>
                        
                        <!-- <button type="button" class="btn btn-danger" (click)="deleteParticipant(participant.id)">Löschen</button>
                        <button type="button" class="btn btn-success" (click)="initializeModal(participant.id)">Editieren</button> -->
                    } @empty {
                        Empty
                    }
                </tbody>
            </table>
        </div>
    }@else{
        <div class="card-body">
            <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
</div>

